<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex.gt-md="30%" fxFlex.md="50%" fxFlex.lt-md="100%">
    <app-blog-post-card *ngIf="latestPost$ | async as latestPost" [blogPost]="latestPost"></app-blog-post-card>
  </div>
  <div fxFlex.gt-md="30%" fxFlex.md="50%" fxFlex.lt-md="100%" style="padding: 20px;">
    <img *ngIf="this.meetingService.getVisibleMeetings()[0] as latestMeeting" [src]="latestMeeting.posterUrl" style="max-width: 100%; max-height: 100%;" alt="Poster poslednjeg okupljanja"/>
  </div>
  <div fxFlex.gt-md="40%" fxFlex.md="100%" fxFlex.lt-md="100%">
    <app-blog-list *ngIf="auth.user$ | async" [blogPosts]="followingBlogPosts$ | async" layout="column"></app-blog-list>
    <mat-card *ngIf="!(auth.user$ | async)">
      <mat-card-title>Registruj se</mat-card-title>
      <mat-card-content>Registrovanjem na RISK sajt dobijaš mogućnost da pišeš blog objave, komentarišeš, i pratiš druge korisnike na sajtu.</mat-card-content>
      <button mat-raised-button color="primary" style="display: block; margin: auto" (click)="openRegisterDialog()">Registruj se</button>
    </mat-card>
  </div>
</div>
