<button id="badge-container" mat-flat-button [matMenuTriggerFor]="menu">
  <img *ngIf="(auth.user$ | async).profilePictureUrl as picture" [src]="picture"/>
  <img *ngIf="!(auth.user$ | async).profilePictureUrl" src="assets/generic_user.jpeg"/>
  <span fxShow="true" fxHide.lt-md="true">
    {{(auth.user$ | async).firstName}} {{(auth.user$ | async).lastName}}
  </span>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-button [routerLink]="['/profil', (auth.user$ | async)._id]">Otvori profil</button>
  <br>
  <button mat-button [routerLink]="['/profil/podesavanja']">Podešavanja</button>
  <br>
  <button mat-button (click)="auth.logout()">Odjavi se</button>
</mat-menu>
