<div *ngIf="blogPost" class="header-image" style="background-image: url({{blogPost.headerImageFullRes}})"></div>

<div *ngIf="blogPost" fxLayout="column" fxLayout.lt-lg="column" fxLayoutAlign=" center">
  <mat-card ngClass.lt-md="content-lt-md" ngClass.gt-sm="content-gt-md">
    <mat-card-title>{{blogPost.title}}</mat-card-title>
    <mat-card-header id="header">
      <div mat-card-avatar class="avatar-image">
        <a [routerLink]="['/profil/' + blogPost.author._id]">
          <img mat-card-avatar *ngIf="blogPost.author.profilePictureUrl" class="author-image" src="{{blogPost.author.profilePictureUrl}}" alt="Autorova slika">
          <img mat-card-avatar *ngIf="!blogPost.author.profilePictureUrl" class="author-image" src="assets/generic_user.jpeg" alt="Autorova slika">
        </a>
      </div>
      <div>
          <a [routerLink]="['/profil/' + blogPost.author._id]">
            {{blogPost.author.firstName}} {{blogPost.author.lastName}}<mat-icon *ngIf="authorHasBadges()" inline="true">star</mat-icon>
          </a>
        <div>
          <mat-card-subtitle>{{ blogPost.date | serbianDate }}</mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of blogPost.tags">{{tag}}</mat-chip>
    </mat-chip-list>
    <br>
    <mat-divider></mat-divider>
    <br>
    <markdown style="word-wrap: break-word;" [data]="blogPost.content"></markdown>
  </mat-card>
</div>
